<template>
  <div class="container-header w-100 p-3">
    <router-link to="/">Dyma</router-link>
    <div class="flex-fill"></div>
    <div class="d-flex flex-row">
      <router-link to="/signin" class="mr-2">Connexion</router-link>
      <router-link to="/signup">Inscription</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "TheHeader",
};
</script>

<style scoped>
.container-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #192a56;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
</style>